* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}


.logo {
    margin-left: 30px;
    background-image: url(img/header.jpeg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 40px;
}

.menus {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.menus p {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.menus p:hover {
    background: #3f3f3f;
}

.header {
    height: 50vh !important;
    background: url(img/header.jpeg) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 130px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    flex-direction: column;
}

.title-contacto {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: red;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.numero {
    margin-bottom: 40px;
    font-size: 40px;
    color: purple;

}

header.header p {
    margin-bottom: 40px;
    font-size: 20px;
    color: purple;
    padding: 0 100px;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}
div.contain p {
    margin-bottom: 40px;
    font-size: 20px;
    color: purple;
    padding: 0 100px;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: black;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;

}

.btn-home {
    display: flex;
    margin-top: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-nosotros {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: black;
    text-decoration: none;
    background: #9c27b0;
}

.btn-nosotros:hover {
    background-color: #fff;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}


.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box-1 {
    height: 17rem;
    width: 19rem;
    border-radius: 20px;
    margin: 2rem;
    background-size: cover;
    font-size: 20px;
    color: #9c27b0;
    border: 3px solid greenyellow;
    background-image: url(img/luces.jpg);
}

.box-container .box-2 {
    height: 17rem;
    width: 19rem;
    border-radius: 20px;
    margin: 2rem;
    background-size: cover;
    font-size: 20px;
    color: #9c27b0;
    border: 3px solid greenyellow;
    background-image: url(img/audifo.jpg);
}

.box-container .box-3 {
    height: 17rem;
    width: 19rem;
    border-radius: 20px;
    margin: 2rem;
    background-size: cover;
    font-size: 20px;
    color: #9c27b0;
    border: 3px solid greenyellow;
    background-image: url(img/reloj.jpeg);
}

.box-container .box-4 {
    height: 17rem;
    width: 19rem;
    border-radius: 20px;
    margin: 2rem;
    background-size: cover;
    font-size: 20px;
    color: #9c27b0;
    border: 3px solid greenyellow;
    background-image: url(img/18811003-1.webp);

}

.box-container .box-5 {
    height: 17rem;
    width: 19rem;
    border-radius: 20px;
    margin: 2rem;
    font-size: 20px;
    background-size: cover;
    color: #9c27b0;
    border: 3px solid greenyellow;
    background-image: url(img/817nHBbsXhL._AC_SL1500_.jpg);
}

.box-container .box-6 {
    height: 17rem;
    width: 19rem;
    border-radius: 20px;
    margin: 2rem;
    background-size: cover;
    font-size: 20px;
    color: #9c27b0;
    border: 3px solid greenyellow;
    background-image: url(img/maskking_high_pro_disposable_vape_device_10pcspack_1_-1.jpeg);
}


.price {
    background: url(img/carpa.jpeg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    background: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.map {
    background-image: url(img/mapa.png);
    background-size: cover;
    align-items: center;
    height: 500px;
    width: 500px;
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .menus {
        display: none;
    }


}